.map-time-chart {
  background-color: cadetblue;
  grid-area: map-time;
  /* border-radius: 25px; */

  display: grid;
  gap: 10px;
  grid-template: 8fr 2fr / 1fr;
  grid-template-areas: 
  "scatter-map"
  "time-slider";
}
