.testing {
  background-color:silver;
  width: 100vw;
  height: 150vh;
  display: grid;
  /* gap: 10px; */
  grid-template: 6fr 4fr / 3fr 7fr;
  grid-template-areas: 
  "map-time charts"
  "freq-map xplot";
  /* border-radius: 25px; */
}
