.testing {
  background-color:silver;
  width: 95vw;
  height: 90vh;
  display: grid;
  /* gap: 10px; */
  grid-template: 1fr / 4fr 6fr;
  grid-template-areas: "map-time charts";
  /* border-radius: 25px; */
}
